{% extends "layout.html" %} {% block body %}
<div class="row">
    <div class="card border-primary mb-5 col-md-7 container-fluid">
        <h3 class="card-header">CHECKLIST</h3>
        <div class="card-body">
            <form action="enlace" method="POST">
                <!--CBOX-->
                <h4 class="bg-primary container">Servicio CBOX</h4>
                <table class="table table-striped table-hover table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <td>Servicio</td>
                            <td>Estado</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Inspección Visual de SU (Led PWR=Verde ETH=Verde RF=Verde)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r1" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r1" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r1" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión de condición de conectores</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r2" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r2" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r2" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión de poc "A" (Led Verde) solo antenas activas</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r3" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r3" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r3" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión Visual de la antena "A"</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r4" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r4" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r4" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión Visual de la antena "B"</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r5" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r5" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r5" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión de fusibles PIC</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r6" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r6" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r6" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Revisión Visual del cable coaxial</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r7" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r7" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r7" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sellado de Conectores (vulco/cinta aislante)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r8" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r8" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r8" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Certificación de Antena Pasiva (Perdida Min.1 / Max.2 dB)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r9" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r9" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r9" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Certificación de cable coaxial Antena A (Perdida Min.1 / Max.2 dB)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r10" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r10" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r10" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Certificación de cable coaxial Antena B (Perdida Min.1 / Max.2 dB)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r11" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r11" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r11" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Certificación de cable coaxial POC A (Perdida Min.1 / Max.2 dB)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r12" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r12" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r12" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>

                            <tr>
                                <tr>
                                    <td>Certificación de cable coaxial POC B (Perdida Min.1 / Max.2 dB)</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r13" id="inlineRadio1" value="option1" required>
                                            <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r13" id="inlineRadio2" value="option2" required>
                                            <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r13" id="inlineRadio3" value="option3" required>
                                            <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Certificación de cable coaxial SPLITER (Perdida Min.1 / Max.2 dB)</td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r14" id="inlineRadio1" value="option1" required>
                                            <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r14" id="inlineRadio2" value="option2" required>
                                            <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="r14" id="inlineRadio3" value="option3" required>
                                            <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <tr>
                                        <td>Certificación de cable de datos (SU/PIC)</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r15" id="inlineRadio1" value="option1" required>
                                                <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r15" id="inlineRadio2" value="option2" required>
                                                <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r15" id="inlineRadio3" value="option3" required>
                                                <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Certificación de cable de datos (SW/PIC)</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r16" id="inlineRadio1" value="option1" required>
                                                <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r16" id="inlineRadio2" value="option2" required>
                                                <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r16" id="inlineRadio3" value="option3" required>
                                                <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Certificación de cable de datos MEMS</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r17" id="inlineRadio1" value="option1" required>
                                                <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r17" id="inlineRadio2" value="option2" required>
                                                <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r17" id="inlineRadio3" value="option3" required>
                                                <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Certificación de cable de datos SmartCap</td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r18" id="inlineRadio1" value="option1" required>
                                                <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r18" id="inlineRadio2" value="option2" required>
                                                <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="r18" id="inlineRadio3" value="option3" required>
                                                <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                            </div>
                                        </td>
                                    </tr>

                    </tbody>
                </table>
                <!--Wenco-->
                <h4 class="bg-primary container">Sistema Wenco</h4>
                <table class="table table-striped table-hover table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <td>Servicio</td>
                            <td>Estado</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estado antena GPS y soportes</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r19" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r19" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r19" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado fijaciones (Octagon y MDT)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r20" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r20" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r20" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de la instalación de cables de com. y energía de acuerdo al estándar documentado. </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r21" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r21" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r21" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de conectores de comunicación y energía.</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r22" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r22" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r22" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de CPU</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r23" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r23" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r23" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de pantalla </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r24" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r24" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r24" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--tooth metrics-->
                <h4 class="bg-primary container">Sistema Tooth Metrics</h4>
                <table class="table table-striped table-hover table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <td>Servicio</td>
                            <td>Estado</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estado de Pantalla (Brazo RAM) </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r25" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r25" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r25" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado CPU (Conexionado hacia cámaras y pantalla)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r26" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r26" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r26" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de Inversor (CPU - FOCOS)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r27" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r27" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r27" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de conexionado (Electrico - Cámaras)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r28" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r28" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r28" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--split-->
                <h4 class="bg-primary container">Sistema Split</h4>
                <table class="table table-striped table-hover table-bordered table-sm bg-white">
                    <thead>
                        <tr>
                            <td>Servicio</td>
                            <td>Estado</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Eatado de CPU</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r29" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r29" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r29" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de cámaras</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r30" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r30" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r30" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Estado de gabinete (WLAN - Conexionado electrico)</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r31" id="inlineRadio1" value="option1" required>
                                    <label class="form-check-label" for="inlineRadio1">Buen Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r31" id="inlineRadio2" value="option2" required>
                                    <label class="form-check-label" for="inlineRadio2">Mal Estado</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="r31" id="inlineRadio3" value="option3" required>
                                    <label class="form-check-label" for="inlineRadio3">Medianamente Bien</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group border-primary">
                    <label for="exampleFormControlFile1"><h2>Imagen 1</h2></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
                </div>
                <div class="form-group border-primary">
                    <label for="exampleFormControlFile1"><h2>Imagen 2</h2></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
                </div>
                <div class="control-group border-primary">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Observaciones</label>
                        <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <a href="index"><button class="btn btn-success" type="submit" name="Submit" value="Enviar">Enviar</button></a>

            </form>
            {% endblock %}